$white: #ffffff;
$grey: rgba(255, 255, 255, 0.4);
$orange: #d66c16;
$transparateblack: hsla(20, 6%, 10%, 0.226);

$xl: 1420px;
$l: 1284px;
$m: 970px;
$s: 781px;
$xs: 615px;
$xxs: 521px;
$xxxs: 420px;
$xxxxs: 360px;