.days-container {
	margin: 0 auto;
	padding: 3rem 0;
	max-width: 1200px;
	height: auto;
}

.days-container__actual-day-sun-card-wrapper {
	display: flex;
	justify-content: space-between;

	@include breakpoint($m) {
		flex-direction: column;
	}
}
