.main {
	padding-top: 22rem;
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;

	@include breakpoint($l) {
		padding-top: 1rem;
	}

	@include breakpoint($xxxxs) {
		flex-direction: column;
	}

}

